/*
 * Colors
 *
 * Background Red: #5c1315;
 * True Red: #8f1d21;
 * Light Cream: #fffcf1;
 * Dark Cream: #fff6d8;
 *
*/

/* General */
body {
	margin-top: 50px;
	font-family: 'Neuton', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #fffcf1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}