/*
 * Colors
 *
 * Background Red: #5c1315;
 * Background Border Red: #420e0f;
 * Background Lighter Red: #a82326;
 * Background Lighter Border Red: #691618;
 * True Red: #8f1d21;
 * Light Cream: #fffcf1;
 * Dark Cream: #fff6d8;
 * Darker Cream: #e5ddc2;
 *
*/

/* General */
body {
	margin-top: 50px;
	font-family: 'Neuton', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #fff6d8;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1, h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
}

img {
	max-width: 100%;
}

.btn {
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

.btn-danger {
	background-color: #5c1315;
	border-color: #420e0f;
}

.btn-danger:hover, .btn-danger:focus {
	background-color: #a82326;
	border-color: #691618;
}

/* Hero Section */

#hero {
	background: url('../img/hero-bg.jpg') 73% 0% no-repeat fixed;
	background-size: cover;
	color: #000000;
	min-height: 500px;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero .hero-ad {
	text-align: center;
}

#hero .hero-subtitle {
	margin: 0 0 30px;
}

#hero .hero-subtitle span{
	display: block;
	padding: 0 0 10px;
}

#hero .hero-text {
	font-size: 22px;
	font-weight: 300;
	padding-bottom: 15px;
}

#call-now {
	margin: 30px 0 60px;
	text-align: center;
}

#call-now .phone {
	display: inline-block;
	margin: 0 2% 0 0;
	width: 60%;
	background: #7F7B6C;
	color: #fff;
	padding: 43px 20px 10px;
	position: relative;
	vertical-align: top;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#call-now .phone h4 {
	background: #5c1315;
	display: block;
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size: 24px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	position: absolute;
	top: -42px;
	left: 50%;
	margin-left: -35px;
}

#call-now .phone span.tel {
	display: inline-block;
	padding: 0 0 10px;
	font-size: 36px;
}

#call-now .office-hours {
	font-size: 20px;
}

#call-now .office-hours .days {
	font-weight: bold;
}

/* Layout */

.row + .row {
	margin-top: 20px;
}

section {
	padding: 80px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

section h3 {
	margin: 30px 0 10px;
}

.well-tan {
	background-color: #e5ddc2;
}

.well-red {
	background-color: #5c1315;
	color: #ffffff;
}




















