/*
 * Colors
 *
 * Background Red: #5c1315;
 * Background Border Red: #420e0f;
 * Background Lighter Red: #a82326;
 * Background Lighter Border Red: #691618;
 * True Red: #8f1d21;
 * Light Cream: #fffcf1;
 * Dark Cream: #fff6d8;
 * Darker Cream: #f2e9cd;
 * 544134
 *
 * Second Color Scheme
 *
 * Dark Brown Background: #544134;
 * Darker Brown: #3a2d24;
 * Dark Teal: #345254;
 * Light Teal: #439aa0;
*/

/* General */
body {
	margin-top: 50px;
	font-family: 'Neuton', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1, h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
}

img {
	max-width: 100%;
}

hr.section-divider {
	height: 1px;
	width: 60%;
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	background: #ccc;
	background-image: linear-gradient(to right, #fff, #ccc, #fff);
}

a:link, a:visited {
	color: #439aa0;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:active {
	color: #345254;
}

.modal-header {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

button, input, .btn, a.btn {
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

a.btn {
	color: #fff;
	font-weight: normal;
}

.btn-danger {
	background-color: #345254;
	border-color: #24393a;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.active.focus, .btn-success.danger:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
	background-color: #339aa0;
	border-color: #23696d;
}

.btn-info {
	background-color: #f48551;
	border-color: #da7748;
}

.btn-info:hover, .btn-info:focus, .btn-info.active.focus, .btn-success.info:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
	background-color: #b4623c;
	border-color: #c16940;
}

/* Navbar */
.navbar {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.navbar li.active a {
	color: #345254;
	background-color: #eee;
}

.navbar-toggle {
	border: 1px solid #888;
	border-radius: 4px;
}

.navbar-toggle:hover, .navbar-toggle:active {
	background-color: #eee;
}

.navbar-toggle .icon-bar {
	background-color: #000;
}

/* Hero Section */

#hero {
	background: url('../img/hero-bg.jpg') 0% 0% no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color: #000000;
	min-height: 500px;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero .hero-ad {
	text-align: center;
}

#hero .hero-subtitle {
	margin: 0 0 30px;
}

#hero .hero-subtitle span{
	display: block;
	padding: 0 0 10px;
}

#hero .hero-text {
	font-size: 22px;
	font-weight: 300;
	padding-bottom: 15px;
}

#call-now {
	margin: 30px 0 60px;
	text-align: center;
}

#call-now .phone {
	display: inline-block;
	margin: 0 2% 0 0;
	width: 60%;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	padding: 43px 20px 10px;
	position: relative;
	vertical-align: top;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#call-now .phone h4 {
	background: #345254;
	color: #fff;
	display: block;
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size: 24px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	position: absolute;
	top: -42px;
	left: 50%;
	margin-left: -35px;
}

#call-now .phone span.tel {
	display: inline-block;
	padding: 0 0 10px;
	font-size: 36px;
}

#call-now .office-hours {
	font-size: 20px;
}

#call-now .office-hours .days {
	font-weight: bold;
}

/* Layout */

.row + .row {
	margin-top: 20px;
}

section {
	padding: 80px 0;
}

.page-title, .section-header {
	text-align: center;
}

.page-title {
	padding: 40px 0 0;
}

.page-title h1 {
	margin: 0;
}

.page-title h1 span {
	border-bottom: 3px solid #439aa0;
}

section h2 {
	margin: 20px 0 40px;
}

section h3 {
	margin: 30px 0 10px;
}

#member-benefits {
	background-color: #345254;
	color: #fff;
	text-align: center;
}

#member-benefits p {
	margin: 50px 0 0;
}

#doctor {
	background: url('../img/drmercer-bg.jpg') 58% 28% no-repeat;
	min-height: 750px;
}

#doctor h2 {
	margin: 0 0 20px;
}

#doctor .doctor-overlay {
	background: rgba(255, 255, 255, 0.85);
	padding: 20px;
}

#sign-up {
	background: url('../img/doctor-bag.jpg') center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
	color: white;
	padding: 140px 0;
}

#sign-up-overlay {
		background: rgba(0, 0, 0, 0.75);
}

#sign-up h2 {
	font-weight: normal;
}

#sign-up h2 strong {
	border-bottom: solid 2px #f48551;
}

#sign-up .btn {
	font-size: 18px;
}

footer {
	background: #3a2d24;
	color: white;
	padding: 32px 0 20px;
	border-top: 8px solid #544134;
}

footer nav li {
	font-size: 21px;
}

footer nav a:link, footer nav a:visited {
	color: #ffffff;
	text-decoration: none;
}

footer nav a:hover, footer nav a:focus {
	color: #439aa0;
}

footer address .vcard {
	font-size: 21px;
}

footer address .vcard .organization-name {
	font-weight: bold;
}

footer address .vcard .adr {
	padding-bottom: 15px;
}

footer address .office-hours {
	font-size: 21px;
	padding-top: 10px;
}

footer p.copy-text {
	font-size: 16px;
}

/* Patient Forms */

table.patient-forms {
	width: 100%;
}

table.patient-forms td + td {
	padding: 10px 0 10px;
}

table.patient-forms td.patient-form-name {
	font-size: 20px;
	font-weight: bold;
}

/* Forms */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

/* Media Queries */

@media screen and ( max-width : 1199px ) {
	header .navbar {
		font-size: 16px;
	}

	#doctor {
		background: url('../img/drmercer-bg.jpg') 47% 28% no-repeat;
	}
}

/* iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

	#hero {
		background: url('../img/hero-bg.jpg') no-repeat top center;
		background-size: cover;
	}

	#sign-up {
		background: url('../img/doctor-bag.jpg') no-repeat top center;
		background-size: cover;
	}

}
*/

@media screen and ( max-width : 991px ) {

	.navbar-header {
		float: none;
	}

	.navbar-left,.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}

	.navbar-nav>li {
		float: none;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in{
		display:block !important;
	}

	header .navbar {
		font-size: 18px;
	}

	#hero {
		padding-top: 96px;
	}

	#hero .hero-overlay {
		background: rgba(255, 255, 255, 0.5);
		margin-bottom: 20px;
		padding: 20px 0;
	}

	#member-benefits .benefit {
		padding: 15px 0;
	}

	#doctor {
		background: url('../img/drmercer-bg-sm.jpg') center -140px no-repeat;
		padding-top: 1025px;
	}

}

@media screen and ( max-width : 767px ) {

	.page-title h1 span {
		line-height: 1.25;
	}

	#hero {
		padding-top: 48px;
	}

	#call-now .phone {
		width: 80%;
	}

	p.lead {
		font-size: 20px;
	}


	#doctor {
		background: url('../img/drmercer-bg-xs.jpg') center top no-repeat;
		background-size: cover;
		padding-top: 1325px;
	}

	#sign-up .btn {
		font-size: 14px;
	}

	footer nav {
		margin-bottom: 40px;
	}
}

/* iPhone 6 Plus 
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
	#hero {
		background: url('../img/hero-bg.jpg') no-repeat 73% center;
		background-size: cover;
	}

	#sign-up {
		background: url('../img/doctor-bag.jpg') no-repeat center center;
		background-size: cover;
	}
}*/

/* iPhone 6
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	#hero {
		background: url('../img/hero-bg.jpg') no-repeat 73% center;
		background-size: cover;
	}

	#sign-up {
		background: url('../img/doctor-bag.jpg') no-repeat center center;
		background-size: cover;
	}
}
*/

/* iPhone 5/5S 
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	#hero {
		background: url('../img/hero-bg.jpg') no-repeat 73% center;
		background-size: cover;
	}

	#sign-up {
		background: url('../img/doctor-bag.jpg') no-repeat center center;
		background-size: cover;
	}
}
*/
/* iPhone 2G - 4S 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#hero {
		background: url('../img/hero-bg.jpg') no-repeat 73% center;
		background-size: cover;
	}

	#sign-up {
		background: url('../img/doctor-bag.jpg') no-repeat center center;
		background-size: cover;
	}
}
*/
